.container { /* ?? */
    display: flex;
    align-items: flex-start;
}

.lifecycle-image-container {
    position: relative; 
}

.lifecycle-image-container img {
    position: relative;
    right: 100px;
}

.clickable-area {
    position: absolute;
    cursor: pointer;
    background: rgba(255, 0, 0, 0.5); /* For visibility, remove if needed */
}

.check {
    top: 0PX;
    left: 0PX;
    width: 1024px;
    height: 768px;
    background: rgba(0,0,200, 0.5);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.design {
    top: 0PX;
    left: -80PX;
    width: 100%;
    height: 100%;
    clip-path: polygon(28% 30%, 28% 30%, 27% 34%, 27% 34%, 24% 36%, 24% 36%, 23% 38%, 23% 38%, 21% 41%, 21% 41%, 20% 45%, 20% 45%, 20% 48%, 20% 48%, 17% 45%, 17% 45%, 15% 48%, 15% 48%, 15% 44%, 15% 44%, 15% 42%, 15% 42%, 16% 39%, 16% 39%, 17% 36%, 17% 36%, 19% 34%, 19% 34%, 20% 32%, 20% 32%, 22% 30%, 22% 30%, 24% 28%, 24% 28%);
}

.define {
    top: 0PX;
    left: -80PX;
    width: 100%;
    height: 100%;
    clip-path: polygon(24% 66%,24% 66%, 27% 65%, 27% 65%, 25% 64%, 25% 64%, 23% 62%, 23% 62%, 22% 60%, 22% 60%, 21% 57%, 21% 57%, 20% 55%, 20% 55%, 20% 51%, 20% 51%, 17% 48%, 17% 48%, 15% 51%, 15% 51%, 15% 54%, 15% 54%, 16% 56%, 16% 56%, 16% 59%, 16% 59%, 17% 62%, 17% 62%, 19% 64%, 19% 64%, 20% 66%, 20% 66%, 22% 68%, 22% 68%, 25% 71%, 25% 71%);
}

.assess {
    top: -5PX;
    left: -85PX;
    width: 100%;
    height: 100%;
    clip-path: polygon(25% 68%, 25% 68%,25% 68%, 28% 66%, 28% 66%, 28% 66%, 30% 67%, 30% 67%, 30% 67%, 32% 68%, 32% 68%, 32% 68%, 34% 68%, 34% 68%, 34% 68%, 37% 68%, 37% 68%, 37% 68%, 39% 67%, 39% 67%, 39% 67%, 41% 66%, 41% 66%, 41% 66%, 43% 65%, 43% 65%, 43% 65%, 45% 65%, 45% 65%, 45% 65%, 46% 66%, 46% 66%, 46% 66%, 48% 68%, 48% 68%, 48% 68%, 49% 70%, 49% 70%, 49% 70%, 51% 72%, 51% 72%, 51% 72%, 53% 74%, 53% 74%, 53% 74%, 49% 74%, 49% 74%, 49% 74%, 49% 78%, 49% 78%, 49% 78%, 47% 76%, 47% 76%, 47% 76%, 46% 74%, 46% 74%, 46% 74%, 45% 72%, 45% 72%, 45% 72%, 42% 72%, 42% 72%, 42% 72%, 40% 74%, 40% 74%, 40% 74%, 37% 74%, 37% 74%, 37% 74%, 35% 74%, 35% 74%, 35% 74%, 33% 74%, 33% 74%, 33% 74%, 30% 73%, 30% 73%, 30% 73%, 28% 73%, 28% 73%, 28% 73%, 26% 72%, 26% 72%, 26% 72%);
}

.comply {
    top: 0PX;
    left: -100PX;
    width: 100%;
    height: 100%;
    clip-path: polygon(47% 34%, 47% 34%, 47% 34%,47% 34%, 47% 29%, 47% 29%, 47% 29%, 47% 29%, 48% 30%, 48% 30%, 48% 30%, 48% 30%, 50% 33%, 50% 33%, 50% 33%, 50% 33%, 51% 36%, 51% 36%, 51% 36%, 51% 36%, 51% 40%, 51% 40%, 51% 40%, 51% 40%, 51% 44%, 51% 44%, 51% 44%, 51% 44%, 51% 47%, 51% 47%, 51% 47%, 51% 47%, 52% 50%, 52% 50%, 52% 50%, 52% 50%, 52% 53%, 52% 53%, 52% 53%, 52% 53%, 53% 56%, 53% 56%, 53% 56%, 53% 56%, 54% 58%, 54% 58%, 54% 58%, 54% 58%, 54% 63%, 54% 63%, 54% 63%, 54% 63%, 50% 63%, 50% 63%, 50% 63%, 50% 63%, 49% 60%, 49% 60%, 49% 60%, 49% 60%, 48% 57%, 48% 57%, 48% 57%, 48% 57%, 47% 54%, 47% 54%, 47% 54%, 47% 54%, 47% 50%, 47% 50%, 47% 50%, 47% 50%, 47% 47%, 47% 47%, 47% 47%, 47% 47%, 46% 44%, 46% 44%, 46% 44%, 46% 44%, 46% 40%, 46% 40%, 46% 40%, 46% 40%, 46% 37%, 46% 37%, 46% 37%, 46% 37%, 43% 34%, 43% 34%, 43% 34%, 43% 34%);
}

.assess2 {
    top: 70%;
    left: 5%;
    width: 10%;
    height: 15%;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.define2 {
    top: 15%;
    left: 30%;
    width: 25%;
    height: 25%;
    clip-path: polygon(10% 10%, 90% 10%, 80% 90%, 20% 90%);
}

.design2 {
    top: 60%;
    left: 55%;
    width: 20%;
    height: 15%;
    clip-path: polygon(10% 10%, 90% 10%, 70% 90%, 30% 90%);
}

.install {
    top: 80%;
    left: 30%;
    width: 15%;
    height: 15%;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.check2 {
    top: 10%;
    left: 80%;
    width: 10%;
    height: 20%;
    clip-path: polygon(10% 10%, 90% 0%, 80% 90%, 20% 90%);
}

.maintain {
    top: -10PX;
    left: -80PX;
    width: 100%;
    height: 100%;
    clip-path: polygon(52% 38%,52% 38%, 56% 37%, 56% 37%, 58% 34%, 58% 34%, 61% 32%, 61% 32%, 66% 31%, 66% 31%, 63% 29%, 63% 29%, 64% 25%, 64% 25%, 61% 26%, 61% 26%, 57% 28%, 57% 28%, 54% 31%, 54% 31%, 52% 34%, 52% 34%);
}

